img{
float: inline-start; float: right;    
}

body{
background-color:#f2f5f7;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right;
background-size: 1100px;
background-attachment: fixed;
background-image:url("carlogo.png")
}
