img{
    float: inline-start; float: right;    
    }
    
    body{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;

    background-size: 500px;
    background-attachment: fixed;
    background-image:url("deal.jpg")
    }
    